.code-editor {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Fira Code', monospace;
}

.code-input {
  width: 100%;
  height: 100%;
  background: none;
  color: #abb2bf;
  caret-color: rgb(234, 209, 209); 
  border: none;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px 0 10px 42px; 
  resize: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; 
  overflow: hidden; 
  white-space: pre-wrap;
  word-wrap: break-word;
  outline: none; 
}

.code-output {
  width: 100%;
  height: 100%;
  overflow: auto;
  font-size: 16px;
  line-height: 1.5;
  padding: 12px;
  background-color: #282c34;
  color: #abb2bf;
  white-space: pre-wrap;
  word-wrap: break-word;
  z-index: 0;
}

pre {
  margin: 0;
}

.line-number {
  display: inline-block;
  width: 2em;
  user-select: none;
  padding-left: 15px;
  padding-right: 30px;
  opacity: 0.5;
}
